#Home {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 100px 200px;
}

#homeTitle {
  grid-column-start: 3;
  text-align: center;
}

#homeArticle {
  grid-column-start: 1;
  grid-column-end: 6;
  text-align: center;
  padding-top: 2rem;
}

#gravatar {
  border-radius: 50%;
  grid-column-start: 3;
  grid-column-end: 6;
}
