#Home {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 100px 200px;
}

#homeTitle {
  grid-column-start: 3;
  text-align: center;
}

#homeArticle {
  grid-column-start: 2;
  grid-column-end: 5;
  text-align: center;
  padding-top: 2rem;
}

#gravatar {
  border-radius: 50%;
  grid-column-start: 3;
  grid-column-end: 6;
}

#socials {
  grid-row-start: 4;
  grid-column-start: 2;
  grid-column-end: 5;
  padding-top: 2rem;
}

.social {
  color: coral;
}
